<!-- Left Navigation Bar  -->
<div class="leftbar-buttons col-lg-3">
    <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
        <button routerLink="/dashboard" type="submit" style="border: 0; background: transparent">
                    <img src="..\images\home.png" width="60" height="60" alt="submit" />
            </button>
    </div>
    <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
        <button routerLink="/patient" type="submit" style="border: 0; background: transparent">
                    <img src="..\images\pat.png" width="60" height="60" alt="submit" />
                </button>
    </div>
    <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
        <button routerLink="/scheduling" type="submit" style="border: 0; background: transparent">
                <img src="..\images\cal.png" width="60" height="60" alt="submit" />
            </button>
    </div>
    <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
        <button routerLink="/employees" type="submit" style="border: 0; background: transparent">
                <img src="..\images\depart.png" width="60" height="60" alt="submit" />
            </button>
    </div>
    <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
        <button routerLink="/inventory" type="submit" style="border: 0; background: transparent">
                <img src="..\images\inv.png" width="60" height="60" alt="submit" />
        </button>
    </div>
</div>

<form class="derp">
    <label>First Name:</label><input type="text" ng-model="firstname"><br><br>
    <label>Last Name:</label> <input type="text" ng-model="lastname"><br><br>
    <label>Steet:</label> <input type="text" ng-model="street"><br><br>
    <label>City:</label> <input type="text" ng-model="city"><br><br>
</form>
<div>
    <form class="derp1">
        <label>Zip:</label> <input type="text" ng-model="zip"><br><br>
        <label>Insurance Company:</label> <input type="text" ng-model="insurance Company"><br><br>
        <label> ID: </label> <input type="text" ng-model="insuranceid"><br><br>
        <label>Expiredate:</label> <input type="text" ng-model="expiredate"><br><br>
    </form>
</div>