
    <div class="dashbuttons">
        <button class= "col-lg-3 col-md-3 col-sm-3 col-xs-12" routerLink="/patient" type="submit" style="border: 0; background: transparent">
            <img src="..\images\pat.png" width="90" height="90" alt="submit" />
        </button>
        <button class= "col-lg-3 col-md-3 col-sm-3 col-xs-12" routerLink="#" type="submit" style="border: 0; background: transparent">
            <img src="..\images\cal.png" width="90" height="90" alt="submit" />
        </button>
        <button class= "col-lg-3 col-md-3 col-sm-3 col-xs-12" routerLink="#" type="submit" style="border: 0; background: transparent">
            <img src="..\images\depart.png" width="90" height="90" alt="submit" />
        </button>
        <button class= "col-lg-3 col-md-3 col-sm-3 col-xs-12" routerLink="#" type="submit" style="border: 0; background: transparent">
            <img src="..\images\inv.png" width="90" height="90" alt="submit" />
        </button>
    </div>
    <br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br>
    <div>
            <!-- https://www.w3schools.com/angular/angular_forms.asp -->
            
              <form class="derp">
                <label>First Name:</label><input type="text" ng-model="firstname"><br><br>
                <label>Last Name:</label> <input type="text" ng-model="lastname"><br><br>
                <label>Steet:</label> <input type="text" ng-model="street"><br><br>
                <label>City:</label> <input type="text" ng-model="city"><br><br>
              </form>
        <div>
            <form class="derp1">
                <label>Zip:</label> <input type="text" ng-model="zip"><br><br>
                <label>Insurance Company:</label> <input type="text" ng-model="insurance Company"><br><br>
                <label> ID: </label> <input type="text" ng-model="insuranceid"><br><br>
                <label>Expiredate:</label> <input type="text" ng-model="expiredate"><br><br>
            </form>
        </div>            
    </div>