
<div class="heading">
  <h1>Inventory</h1> <br><br>
</div>
<div class="fields">
    <label>SKU#:</label>
    <input type="text" placeholder="Enter SKU#" ng-model="sku" required><br><br>
    <label>Item Name:</label>
    <input type="text" placeholder="Enter Item Name" ng-model="itemname" required><br><br>
    <label>Item Description:</label>
    <input type="text" placeholder="Enter Item Description" ng-model="itemdesc" required><br><br>
    <label>Amount of Items:</label>
    <input type="text" placeholder="Enter Amount of Items" ng-model="itemamount" required><br><br>
</div>