<div>
    <div class="fields">
        <label>Employee Name</label>
        <input type="text" placeholder="John Smith" ng-model="sku" required><br><br>
        <label>Employee ID</label>
        <input type="text" placeholder="2392JS" ng-model="sku" required><br><br>
        <label>Employee Position</label>
        <input type="text" placeholder="Nurse" ng-model="sku" required><br><br>
        <label>Assigned Patient:</label>
        <input type="text" placeholder="Sarah Shoemaker" ng-model="itemname" required><br><br>
        <label>Assigned Patient ID:</label>
        <input type="text" placeholder="1438SS" ng-model="itemdesc" required><br><br>
        <label>Room Assignment:</label>
        <input type="text" placeholder="A320" ng-model="itemamount" required><br><br>
    </div>
</div>