<div class="content">
<div class="leftbar-buttons col-lg-3" id="leftbar-buttons">
    <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
        <button type="submit" style="border: 0; background: transparent">
                <img src="..\images\pat.png" width="90" height="90" alt="submit" />
            </button>
    </div>
    <div class="btn-group-vetical leftbar-buttons" role="group">
        <button type="submit" style="border: 0; background: transparent">
                <img src="..\images\depart.png" width="90" height="90" alt="submit" />
            </button>
    </div>
    <div class="btn-group-vetical leftbar-buttons" role="group">
        <button type="submit" style="border: 0; background: transparent">
                <img src="..\images\inv.png" width="90" height="90" alt="submit" />
        </button>
    </div> 
</div>

<div class="calendar-container">
<iframe id="calendar" src="https://teamup.com/ksyaiuyb33gts9jvown"
style="border: 0"  frameborder="0" scrolling="yes"></iframe>
</div>

</div>