<!-- Heading -->
<div class="heading">
    <h1>Scheduling</h1> <br><br>
</div>

<!-- Left Navigation Bar  -->
<div class="leftbar-buttons col-lg-3" id="leftbar-buttons">
        <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
            <button data-tooltip="Dashboard" routerLink="/dashboard" type="submit" style="border: 0; background: transparent">
                        <img src="..\images\home.png" width="50" height="50" alt="submit" />
                </button>
        </div>
        <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
            <button data-tooltip="Patient" routerLink="/patient" type="submit" style="border: 0; background: transparent">
                        <img src="..\images\pat.png" width="50" height="50" alt="submit" />
                    </button>
        </div>
        <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
            <button data-tooltip="Scheduling" routerLink="/scheduling" type="submit" style="border: 0; background: transparent">
                    <img src="..\images\cal.png" width="50" height="50" alt="submit" />
                </button>
        </div>
        <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
            <button data-tooltip="Employees" routerLink="/employees" type="submit" style="border: 0; background: transparent">
                    <img src="..\images\depart.png" width="50" height="50" alt="submit" />
                </button>
        </div>
        <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
            <button data-tooltip="Inventory" routerLink="/inventory" type="submit" style="border: 0; background: transparent">
                    <img src="..\images\inv.png" width="50" height="50" alt="submit" />
            </button>
        </div>
    
        <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">            
            <button data-tooltip="Logout" routerLink="/inventory" type="submit" style="border: 0; background: transparent">
                        <img src="..\images\logout.png" width="50" height="50" alt="submit" routerLink="/" />
                </button>
        </div>
    </div>

<!-- Calendar -->

<html>

    <!-- DayPilot library -->
    <script src="js/daypilot/daypilot-all.min.js"></script>

    <body>
        <?php require_once '_header.php'; ?>

        <div class="main">
            <?php require_once '_navigation.php'; ?>

            <div>

                <div style="float:left; width:160px">
                    <div id="nav"></div>
                </div>
                <div style="margin-left: 160px">
                    <div class="space">Available time slots:</div>
                    <div id="calendar"></div>
                </div>

            </div>
        </div>

        <script src="js/jquery-1.9.1.min.js"></script>
        <script src="js/daypilot/daypilot-all.min.js"></script>

        <script>
            var nav = new DayPilot.Navigator("nav");
            nav.selectMode = "week";
            nav.showMonths = 3;
            nav.skipMonths = 3;
            nav.onTimeRangeSelected = function(args) {
                 loadEvents(args.start.firstDayOfWeek(), args.start.addDays(7));
            };
            nav.init();

            var calendar = new DayPilot.Calendar("calendar");
            calendar.viewType = "Week";
            calendar.timeRangeSelectedHandling = "Disabled";
            calendar.eventMoveHandling = "Disabled";
            calendar.eventResizeHandling = "Disabled";
            calendar.onBeforeEventRender = function(args) {
                if (!args.data.tags) {
                    return;
                }
                switch (args.data.tags.status) {
                    case "free":
                        args.data.barColor = "green";
                        args.data.html = "Available<br/>" + args.data.tags.doctor;
                        args.data.toolTip = "Click to request this time slot";
                        break;
                    case "waiting":
                        args.data.barColor = "orange";
                        args.data.html = "Your appointment, waiting for confirmation";
                        break;
                    case "confirmed":
                        args.data.barColor = "#f41616";  // red
                        args.data.html = "Your appointment, confirmed";
                        break;
                }
            };
            calendar.onEventClick = function(args) {
                if (args.e.tag("status") !== "free") {
                    calendar.message("You can only request a new appointment in a free slot.");
                    return;
                }

                var modal = new DayPilot.Modal({
                    onClosed: function(args) {
                        if (args.result) {  // args.result is empty when modal is closed without submitting
                            loadEvents();
                        }
                    }
                });

                modal.showUrl("appointment_request.php?id=" + args.e.id());
            };
            calendar.init();

            loadEvents();

            function loadEvents(day) {
                var start = nav.visibleStart() > new DayPilot.Date() ? nav.visibleStart() : new DayPilot.Date();

                var params = {
                    start: start.toString(),
                    end: nav.visibleEnd().toString()
                };

                $.post("backend_events_free.php", JSON.stringify(params), function(data) {
                    if (day) {
                        calendar.startDate = day;
                    }
                    calendar.events.list = data;
                    calendar.update();

                    nav.events.list = data;
                    nav.update();

                });
            }
        </script>

    </body>
