<div class="logo-container">
  <img class="col-md-12 col-sm-12 col-xs-12" src="..\..\..\images\Logo.JPG">
</div>


<div class="login-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <label>Username:</label>
  <input type="text" placeholder="Enter username" ng-model="username" required><br><br>
  <label>Password:</label>
  <input ng-hide="showpassword" type="password" placeholder="Enter password" ng-model="password" required>
  <div>
    <a routerLinkActive="active" routerLink="/dashboard" class="login-button">Login</a>
    <a href="#" class="login-button">New User</a>
  </div>
</div>