
    <div class="dashbuttons">
        <button routerLink="/patient" type="submit" style="border: 0; background: transparent">
            <img src="..\images\pat.png" width="90" height="90" alt="submit" />
        </button>
        <button routerLink="#" type="submit" style="border: 0; background: transparent">
            <img src="..\images\cal.png" width="90" height="90" alt="submit" />
        </button>
        <button routerLink="#" type="submit" style="border: 0; background: transparent">
            <img src="..\images\depart.png" width="90" height="90" alt="submit" />
        </button>
        <button routerLink="#" type="submit" style="border: 0; background: transparent">
            <img src="..\images\inv.png" width="90" height="90" alt="submit" />
        </button>
        <br><br>
        <button class="col-lg-6 col-md-6 col-sm-6 col-xs-12" routerLink="/billing" type="submit" style="border: 0; background: transparent">
            <img src="..\images\billing.png" width="90" height="90" alt="submit" />
        </button>
        <button class="col-lg-6 col-md-6 col-sm-6 col-xs-12" routerLink="/insurance" type="submit" style="border: 0; background: transparent">
            <img src="..\images\insurance.png" width="90" height="90" alt="submit" />
        </button>
    </div>

 
<!-- <form class="form-inline my-2 my-lg-0">
    <br>
    <br>
    <button class= "dashbuttons col-lg-3 col-md-3 col-sm-3 col-xs-12" routerLink="/billing" type="submit" style="border: 0; background: transparent">
            <img src="..\images\billing.png" width="90" height="90" alt="submit" />
        </button>
        <button class= "dashbuttons col-lg-3 col-md-3 col-sm-3 col-xs-12" routerLink="/insurance" type="submit" style="border: 0; background: transparent">
            <img src="..\images\insurance.png" width="90" height="90" alt="submit" />
        
            <button id="patient-billing-button "  class="btn btn-outline-success my-2 my-sm-0" routerLink="/billing" type="submit">Billing</button>
        <button id="patient-insurance-button" class="btn btn-outline-success my-2 my-sm-0" routerLink="/insurance" type="submit">Insurance</button>
        
        
</form>
     -->

