<div class="heading">
    <h1>Patient</h1> 
</div>

<!-- Left Navigation Bar  -->
<div class="leftbar-buttons col-lg-3">
        <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
                <button routerLink="/dashboard"  type="submit" style="border: 0; background: transparent">
                        <img src="..\images\home.png" width="60" height="60" alt="submit" />
                </button>
            </div> 
    <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
        <button routerLink="/patient" type="submit" style="border: 0; background: transparent">
                        <img src="..\images\pat.png" width="60" height="60" alt="submit" />
                    </button>
    </div>
    <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
        <button routerLink="/scheduling" type="submit" style="border: 0; background: transparent">
                    <img src="..\images\cal.png" width="60" height="60" alt="submit" />
                </button>
    </div>
    <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
        <button routerLink="/employees" type="submit" style="border: 0; background: transparent">
                    <img src="..\images\depart.png" width="60" height="60" alt="submit" />
                </button>
    </div>
    <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
        <button routerLink="/inventory" type="submit" style="border: 0; background: transparent">
                    <img src="..\images\inv.png" width="60" height="60" alt="submit" />
            </button>
    </div>
</div>

<!-- Patient Dashboard Buttons -->
<div class="dashbuttons">
    <button class="col-lg-6 col-md-6 col-sm-6 col-xs-12" routerLink="/billing" type="submit" style="border: 0; background: transparent">
            <img src="..\images\billing.png" width="90" height="90" alt="submit" />
    </button>
    <button class="col-lg-6 col-md-6 col-sm-6 col-xs-12" routerLink="/insurance" type="submit" style="border: 0; background: transparent">
            <img src="..\images\insurance.png" width="90" height="90" alt="submit" />
    </button>
</div>
