* {
	margin: 0;
	padding: 0;
}

.dashbuttons{
	text-align: center;
	padding: 100px;
	margin-top: 30px;
	margin-left: 100px;
	margin-right: 100px;
}
.leftbar-buttons {
    padding-bottom: 25px;
	width: 50px;
	float: left;
	margin-left: 15px;    
}

.heading{
    color: rgba(0, 0, 158, 0.79);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0;
    height: 150px;  
}
