<div class="leftbar-buttons col-lg-3" id="leftbar-buttons">
        <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
                <button routerLink="/dashboard"  type="submit" style="border: 0; background: transparent">
                        <img src="..\images\home.png" width="60" height="60" alt="submit" />
                </button>
            </div> 
        <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
                <button routerLink="/patient"  type="submit" style="border: 0; background: transparent">
                        <img src="..\images\pat.png" width="60" height="60" alt="submit" />
                    </button>
        </div>
        <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
            <button routerLink="/scheduling"  type="submit" style="border: 0; background: transparent">
                    <img src="..\images\cal.png" width="60" height="60" alt="submit" />
                </button>
        </div>
        <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
            <button routerLink="/employees"  type="submit" style="border: 0; background: transparent">
                    <img src="..\images\depart.png" width="60" height="60" alt="submit" />
                </button>
        </div>
        <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
            <button routerLink="/inventory"  type="submit" style="border: 0; background: transparent">
                    <img src="..\images\inv.png" width="60" height="60" alt="submit" />
            </button>
        </div> 
</div>
    <br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br>
    <div>
            <!-- https://www.w3schools.com/angular/angular_forms.asp -->
            
            <div ng-app="myApp" ng-controller="formCtrl">
              <form class="derp">
                First Name: <input type="text" ng-model="firstname"><br><br>
                Last Name: <input type="text" ng-model="lastname"><br><br>
                Steet: <input type="text" ng-model="street"><br><br>
                City: <input type="text" ng-model="city"><br><br>
                Zip: <input type="text" ng-model="zip"><br><br>
                Card type: <input type="text" ng-model="cardtype"><br><br>
                CARD Number: <input type="text" ng-model="cardnumber"><br><br>
                Expiredate: <input type="text" ng-model="expiredate"><br><br>
              </form>
            </div>
    </div>