<!-- Heading -->
<div class="heading">
    <h1>Employees</h1> <br>
</div>

<!-- Left Navigation Bar  -->
<div class="leftbar-buttons col-lg-3">
    <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
        <button data-tooltip="Dashboard"routerLink="/dashboard" type="submit" style="border: 0; background: transparent">
                    <img src="..\images\home.png" width="60" height="60" alt="submit" />
            </button>
    </div>
    <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
        <button data-tooltip="Patient"routerLink="/patient" type="submit" style="border: 0; background: transparent">
                    <img src="..\images\pat.png" width="60" height="60" alt="submit" />
                </button>
    </div>
    <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
        <button data-tooltip="Scheduling"routerLink="/scheduling" type="submit" style="border: 0; background: transparent">
                <img src="..\images\cal.png" width="60" height="60" alt="submit" />
            </button>
    </div>
    <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
        <button data-tooltip="Employees"routerLink="/employees" type="submit" style="border: 0; background: transparent">
                <img src="..\images\depart.png" width="60" height="60" alt="submit" />
            </button>
    </div>
    <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
        <button data-tooltip="Inventory"routerLink="/inventory" type="submit" style="border: 0; background: transparent">
                <img src="..\images\inv.png" width="60" height="60" alt="submit" />
        </button>
    </div>
</div>

<div class="dashbuttons">
    <button class="col-lg-3 col-md-6 col-sm-6 col-xs-12" routerLink="/employeeadd" type="submit" style="border: 0; background: transparent">
            <img src="..\images\addemp.png" width="90" height="90" alt="submit" />
    </button>
    <button class="col-lg-3 col-md-6 col-sm-6 col-xs-12" routerLink="/employeeedit" type="submit" style="border: 0; background: transparent">
            <img src="..\images\editemp.png" width="90" height="90" alt="submit" />
    </button>
    
    <br> <br> <br> <br> <br> <br> <br> <br> <br>

    <button class="col-lg-3 col-md-6 col-sm-6 col-xs-12" routerLink="/employeedel" type="submit" style="border: 0; background: transparent">
        <img src="..\images\deleteemp.png" width="90" height="90" alt="submit" />
</button>
<button class="col-lg-3 col-md-6 col-sm-6 col-xs-12" routerLink="/employeesearch" type="submit" style="border: 0; background: transparent">
        <img src="..\images\searchemp.png" width="90" height="90" alt="submit" />
</button>
</div>
