<!-- Heading -->
<div class="heading">
    <h1>Employees</h1> <br>
</div>

<!-- Left Navigation Bar  -->
<div class="leftbar-buttons col-lg-3">
    <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
        <button routerLink="/dashboard" type="submit" style="border: 0; background: transparent">
                    <img src="..\images\home.png" width="60" height="60" alt="submit" />
            </button>
    </div>
    <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
        <button routerLink="/patient" type="submit" style="border: 0; background: transparent">
                    <img src="..\images\pat.png" width="60" height="60" alt="submit" />
                </button>
    </div>
    <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
        <button routerLink="/scheduling" type="submit" style="border: 0; background: transparent">
                <img src="..\images\cal.png" width="60" height="60" alt="submit" />
            </button>
    </div>
    <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
        <button routerLink="/employees" type="submit" style="border: 0; background: transparent">
                <img src="..\images\depart.png" width="60" height="60" alt="submit" />
            </button>
    </div>
    <div class="btn-group-vetical leftbar-buttons col-lg-6" role="group">
        <button routerLink="/inventory" type="submit" style="border: 0; background: transparent">
                <img src="..\images\inv.png" width="60" height="60" alt="submit" />
        </button>
    </div>
</div>



<div class="fields">
    <label>Employee Name</label>
    <input type="text" placeholder="John Smith" ng-model="sku" required><br><br>
    <label>Employee ID</label>
    <input type="text" placeholder="2392JS" ng-model="sku" required><br><br>
    <label>Employee Position</label>
    <input type="text" placeholder="Nurse" ng-model="sku" required><br><br>
    <label>Assigned Patient:</label>
    <input type="text" placeholder="Sarah Shoemaker" ng-model="itemname" required><br><br>
    <label>Assigned Patient ID:</label>
    <input type="text" placeholder="1438SS" ng-model="itemdesc" required><br><br>
    <label>Room Assignment:</label>
    <input type="text" placeholder="A320" ng-model="itemamount" required><br><br>
</div>