*{
    margin-top: 0px;
    padding: 0px;
   
 }
 .heading{
    color: rgba(0, 0, 158, 0.79);
    text-align: center;
    margin-top: 0px;
 }
 .fields{
    text-align: center;
    margin-top: 20px;
    position: relative; 
    font-weight: bold;
 }
 .leftbar-buttons {
	margin-top:20px;
    padding-bottom: 25px;
	width: 50px;
	float: left;
	margin-left: 15px;
    
}