<div class="login-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div id="user-data">

          <div class="form-group">
              <label for="email">Email:</label>
              <input 
                id="email" 
                type="email" 
                placeholder="Enter email"
                ngModel
                name="email"
                required
                email>
            </div>  
            
            <button type="submit"
            routerLink="/resetpassword"
            id="forgot-password"
            class="btn btn-primary"
            [disabled]="!f.valid">Reset Password           
           </button>

           <br><br>
           <a id="cancel" routerLink="/" class="btn btn-primary">Cancel</a>
           <br><br>

           <div class="container">
                <div class="span10"><button class="btn">Click me</button></div>
                <div class="span4 pull-right">
                  <div class="alert alert-danger fade">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Alert!</strong> Here is my message..
                  </div>
                </div>
              </div>
              
            

          </div>      
    </form>
</div>