*{
    margin-top: 0px;
    padding: 0px;    
}

.leftbar-buttons {
    padding-bottom: 20px;
	width: 50px;
	float: left;
	margin-left: 15px;
    
}
.fields{    
    margin-top:20px;
    margin-left: 400px;     
    font-weight: bold;
    position: relative; 
}
.heading{
	color: rgba(4, 4, 18, 0.79);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0;
    height: 30px;
}
#submit-button {    
    position: relative;;
    margin-left: 234px;
    margin-bottom: 50px;
}

label {
    display:inline-block;
    width:200px;
    margin-right:30px;
    text-align:right;
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
  }
  
  /* Hide the tooltip content by default */
  [data-tooltip]:before,
  [data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
  }
  
  /* Position tooltip above the element */
  [data-tooltip]:before {
    position: absolute;
    left: 120%;
    top: 20%;
    padding: 7px;
    width: 120px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
  }
    
  /* Show tooltip content on hover */
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
	}
	#tooltiptext {
		width: 120px;
    top: 100%;
    left: 50%; 
    margin-left: -60px; 
	}
