* {
	margin: 0;
	padding: 0;
}

.leftbar-buttons {
  position: relative;
  padding-bottom: 43px;
	width: 50px;
	float: left;
	margin-left: 15px;	  
}

.heading{
  color: rgba(4, 4, 18, 0.79);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0;
  height: 30px;
}
<<<<<<< HEAD
/**
 * Demo styles
 * Not needed for tooltips to work
 */
=======

>>>>>>> master

/* `border-box`... ALL THE THINGS! */
html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 64px auto;
    text-align: center;
    font-size: 100%;
    max-width: 640px;
    width: 94%;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  header,
  .demo,
  .demo p {
    margin: 4em 0;
    text-align: center;
  }
  
  /*   * Tooltip Styles*   */
  
  /* Add this attribute to the element that needs a tooltip */
  [data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
  }
  
  /* Hide the tooltip content by default */
  [data-tooltip]:before,
  [data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
  }
  
  /* Position tooltip above the element */
  [data-tooltip]:before {
    position: absolute;
    /* bottom: 150%; */
    left: 120%;
    top: 20%;
    /* margin-bottom: 5px;
    margin-right: -80px; */
    padding: 7px;
    width: 120px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
  }
    
  /* Show tooltip content on hover */
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
	}
	#tooltiptext {
		width: 120px;
    top: 100%;
    left: 50%; 
    margin-left: -60px; 
	}

  .marquee-container {
    position: relative;
    text-align: center;
    height: 50%;       
  }

  #marquee-img {    
    width: 1200px;
    height: 200px;
  }

  .text-container {   
    margin-top: 25px;
    margin-left: 100px;
    text-align: center;
  }

  .container {
    position: relative;
    text-align: center;
  }
  .dashbuttons{
    text-align: center;  
    
    /* margin-right:300px; */
  }
  #positioning {
      margin-right: 130px;
  }

  /* Social Media Buttons Styling */
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #000000;
    color: white;
    width: 65px;
    height: 70px;
  }

  .fa-yelp {
    background: red;
    color: white;
    width: 65px;
    height: 70px;
  }
  
  .fa-twitter {
    background: #000000;
    color: white;
    width: 65px;
    height: 70px;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #000000;
    color: white;
    width: 65px;
    height: 70px;
  }
  
  .fa-youtube {
    background: #000000;
    color: white;
    width: 65px;
    height: 70px;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  
  .fa-android {
    background: #a4c639;
    color: white;
  }
  
  .fa-dribbble {
    background: #ea4c89;
    color: white;
  }
  
  .fa-vimeo {
    background: #45bbff;
    color: white;
  }
  
  .fa-tumblr {
    background: #2c4762;
    color: white;
  }
  
  .fa-vine {
    background: #00b489;
    color: white;
  }
  
  .fa-foursquare {
    background: #45bbff;
    color: white;
  }
  
  .fa-stumbleupon {
    background: #eb4924;
    color: white;
  }
  
  .fa-flickr {
    background: #f40083;
    color: white;
  }
  
  .fa-yahoo {
    background: #430297;
    color: white;
  }
  
  .fa-soundcloud {
    background: #ff5500;
    color: white;
  }
  
  .fa-reddit {
    background: #ff5700;
    color: white;
  }
  
  .fa-rss {
    background: #ff6600;
    color: white;
  }

  hr {
    border-color: black;
    width: 400px;
    text-align: center;  
  }
  
  h4 {
    font-family: 'Federo';
    font-weight: bold;
  }

  #address {
    margin-left: 60px;      
  }

  #media-links {
    margin-left: 100px;
  }