* {
	margin: 0;
	padding: 0;
}

#logout-button {
	float: right;
	margin-top: 8px;
}
.navcontainer{
	margin-left: 20px;
	margin-right: 20px;
}
.dashbuttons{
	text-align: center;
	padding: 100px;
	margin-top: 30px;

}
.leftbar-buttons {
    padding-bottom: 25px;
	width: 50px;
	float: left;
	margin-left: 15px;
    
}
