<!-- <div class="logo-container">
    <img class="col-md-12 col-sm-12 col-xs-12" src="..\images\Logo.jpg">
</div>

<div class="button-container">
    <a href="#" class="col-md-12 col-sm-12 col-xs-12" class="selection-buttons">SCHEDULING</a>
    <a href="#" class="col-md-12 col-sm-12 col-xs-12" class="selection-buttons">PATIENT</a>
    <a href="#" class="col-md-12 col-sm-12 col-xs-12" class="selection-buttons">DEPARTMENT</a>
    <a href="#" class="col-md-12 col-sm-12 col-xs-12" class="selection-buttons">INVENTORY</a>
    <div class="col-lg-6 col-md-6"><a href="#" class="selection-buttons">PATIENT</a></div>
    <div class="col-lg-6 col-md-6"><a href="#" class="selection-buttons">DEPARTMENT</a></div>
    <div class="col-lg-6 col-md-6"><a href="#" class="selection-buttons">INVENTORY</a></div>
</div> -->
<nav class="navbar navbar-fixed-top" style="background-color:brown;">
    <div class="container">
        <a class="navbar-brand" routerLink="#">
            <img src="..\..\..\images\favicon.ico" width="20" height="25" class="d-inline-block align-top" alt="">
        </a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="#">Scheduling</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="#">Patient</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="#">Department</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="#">inventory</a></li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button id="logout-button" class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
        </form>
    </div>
</nav>