
#logout-button {
	float: right;
	margin-top: 8px;
}
.navcontainer{
	margin-left: 20px;
	margin-right: 20px;
}
.dashbuttons{
	text-align: center;
	padding: 100px;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
}

a:hover {
	text-decoration: none;
  }
  
  header,
  .demo,
  .demo p {
	margin: 4em 0;
	text-align: center;
  }
  
  /**
   * Tooltip Styles
   */
  
  /* Add this attribute to the element that needs a tooltip */
  [data-tooltip] {
	position: relative;
	z-index: 1;
	cursor: pointer;
  }
  
  /* Hide the tooltip content by default */
  [data-tooltip]:before,
  [data-tooltip]:after {
	visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
  }
  
  /* Position tooltip above the element */
  [data-tooltip]:before {
	position: absolute;
	bottom: 125%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -80px;
	padding: 7px;
	width: 160px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #000;
	background-color: hsla(0, 0%, 20%, 0.9);
	color: #fff;
	content: attr(data-tooltip);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
  }
  
  [data-tooltip]:after {
	position: absolute;
	bottom: 125%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	border-top: 5px solid #000;
	border-top: 5px solid hsla(0, 0%, 20%, 0.9);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
  }
  
  
  /* Show tooltip content on hover */
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
  }