<!-- <div class="logo-container">
    <img class="col-md-12 col-sm-12 col-xs-12" src="..\images\Logo.jpg">
</div>

<div class="button-container">
    <a href="#" class="col-md-12 col-sm-12 col-xs-12" class="selection-buttons">SCHEDULING</a>
    <a href="#" class="col-md-12 col-sm-12 col-xs-12" class="selection-buttons">PATIENT</a>
    <a href="#" class="col-md-12 col-sm-12 col-xs-12" class="selection-buttons">DEPARTMENT</a>
    <a href="#" class="col-md-12 col-sm-12 col-xs-12" class="selection-buttons">INVENTORY</a>
    <div class="col-lg-6 col-md-6"><a href="#" class="selection-buttons">PATIENT</a></div>
    <div class="col-lg-6 col-md-6"><a href="#" class="selection-buttons">DEPARTMENT</a></div>
    <div class="col-lg-6 col-md-6"><a href="#" class="selection-buttons">INVENTORY</a></div>
</div> -->
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand">HMS</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="#">Scheduling</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="#">Patient</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="#">Department</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="#">inventory</a></li>
        </ul>
    </div>
</nav>