/* You can add global styles to this file, and also import other style files */
* {
	margin: 0;
	padding: 0;
}

#logo-img {
	padding-left: 200px;
	padding-right: 200px;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:10px;
    text-align: center;    
 }
<<<<<<< HEAD
<<<<<<< HEAD
 body
 {
     background-color: #C9C7C7;
=======

 body {
     background-color: #ECE9E9;
>>>>>>> 0cad33ac2f89096b1e2deae52cc4768e3df2543e
 }