<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

/* You can add global styles to this file, and also import other style files */
* {
	margin: 0;
	padding: 0;
}

#logo-img {
	padding-left: 200px;
	padding-right: 200px;
}

#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;    
    text-align: center;
  }
 
  #smedia-content {      
      position: relative;
      float: left;
      margin-left: 10px;
  }

  .footer-text {      
      float: left;;
  }  

  