/* You can add global styles to this file, and also import other style files */
* {
	margin: 0;
	padding: 0;
}

.heading {
	color: rgba(4, 4, 18, 0.79);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0;
    height: 30px;
}

#logo-img {
	padding-left: 200px;
	padding-right: 200px;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:10px;
    text-align: center;    
 }

 body
 {
     background-color: #D6E6F0;
 } 

 .breadcrumb {
	background-color: transparent;
    font-size: 16pt;   
}

 .breadcrumb > li + li:before {
    color: #7C7777;
    content: "/ ";
    padding: 0 5px;
}